.acf-form-fields{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
}

.acf-fields>.acf-field{
	border: none !important;
	padding: 0 !important;
	padding-left: 10px !important;
	width: 100%;
	margin-bottom: 20px !important;
	min-height: auto !important;
}

.acf-fields>.acf-field label{

	font-weight: 400;
	
}

.acf-fields *, .acf-form-submit * {

	font-size: 14px !important;
	border: none;
	background-color: transparent;
	outline: none;
	transition: all 0.2s ease-out !important;
	transition-property: all !important;
	transition-duration: 0.2s !important;
	transition-timing-function: ease-out !important;
	transition-delay: 0.2s !important;

}

.acf-input  {
	background-color: #F6F6F6;
	border-radius: 3px;	
	
}

.acf-input textarea {

	padding: 15px 10px !important;
	border-radius: 3px;
/*	transition: all 250ms;*/
}

.acf-input input.paddingTop-animation-acf{

	padding: 23px 10px 7px 10px !important;
		
}

.acf-input textarea.paddingTop-animation-acf{

	padding: 23px 10px 7px 10px !important;
		
}	

.acf-input input {
	
	padding: 15px 10px  15px 10px !important;
	border-radius: 3px;	
	font-family: montse
}


.acf-form-submit > input.button[type="submit"] {
	width: 100%;
	height: 60px;
	background-color: #888320 !important;
	color: #FFFFFF !important;
	border: 1px solid #888320 !important;
	border-radius: 3px !important;
}

.acf-form-submit > input.button[type="submit"]:hover {

	background-color: white !important;
	color: #888320 !important;
	transition: 0.3s !important;
}


	
.acf-field[data-width] {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	float: none;
	border: none;
}

.appear-label-acf{

	padding: 15px 10px 10px 10px !important;
	position: absolute !important;
	display: block  !important ;
	z-index: 1000;

}

