.swiper-slide .mtw-woo-price{
	display: inline-block;
}

.single-product .stock.out-of-stock{
	display: none;
}

.wc-sold-out{
	font-size: 12px;
	color: red;
}

.swiper-slide .wc-sold-out{
	margin-left: 10px;
}